[submodule "vendor/Archipelago"]
	path = vendor/Archipelago
	url = https://github.com/ArchipelagoMW/Archipelago.git
[submodule "switch-mod/sys"]
	path = switch-mod/sys
	url = https://github.com/fruityloops1/LibHakkun.git
[submodule "switch-mod/lib/imgui"]
	path = switch-mod/lib/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
